In [1]:
# Final Project
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
import csv
import random
%matplotlib inline
from numpy import genfromtxt
from keras import Sequential
from keras import callbacks
from keras.layers import Dense
from keras.initializers import glorot_normal
from keras.optimizers import SGD
from keras.models import model_from_json

# For tensorboard
tbCallBack = callbacks.TensorBoard(log_dir='./Graph', histogram_freq=0, write_graph=True, write_images=True)

/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
# Loading data from the csv
airQuality = pd.read_csv("indice_2017Rev.csv")
airQuality

,Fecha,Hora,Ozono,Dioxido de azufre,Dioxido de nitrogeno,Monoxido de carbono,pm10,Zona
0,1/1/17,1,9.0,18.0,18.0,12.0,80.0,1
1,1/1/17,2,5.0,15.0,17.0,13.0,86.0,1
2,1/1/17,3,6.0,12.0,16.0,13.0,94.0,1
3,1/1/17,4,3.0,9.0,17.0,13.0,100.0,1
4,1/1/17,5,3.0,8.0,16.0,13.0,103.0,1
5,1/1/17,6,4.0,6.0,15.0,13.0,106.0,1
6,1/1/17,7,4.0,6.0,15.0,12.0,108.0,1
7,1/1/17,8,4.0,5.0,13.0,12.0,110.0,1
8,1/1/17,9,11.0,5.0,16.0,11.0,111.0,1
9,1/1/17,10,23.0,5.0,23.0,11.0,113.0,1
10,1/1/17,11,39.0,4.0,18.0,11.0,114.0,1
11,1/1/17,12,48.0,4.0,10.0,10.0,115.0,1
12,1/1/17,13,61.0,4.0,8.0,9.0,115.0,1
13,1/1/17,14,90.0,4.0,6.0,7.0,113.0,1
14,1/1/17,15,92.0,3.0,6.0,7.0,112.0,1
15,1/1/17,16,100.0,3.0,7.0,6.0,112.0,1
16,1/1/17,17,88.0,3.0,9.0,5.0,112.0,1
17,1/1/17,18,67.0,3.0,11.0,5.0,112.0,1
18,1/1/17,19,42.0,3.0,10.0,5.0,112.0,1
19,1/1/17,20,26.0,3.0,17.0,5.0,113.0,1
20,1/1/17,21,22.0,3.0,19.0,5.0,112.0,1
21,1/1/17,22,23.0,3.0,22.0,6.0,112.0,1
22,1/1/17,23,18.0,3.0,26.0,6.0,112.0,1
23,1/1/17,24,6.0,3.0,25.0,7.0,112.0,1
24,2/1/17,1,8.0,3.0,20.0,7.0,111.0,1
25,2/1/17,2,8.0,3.0,19.0,8.0,110.0,1
26,2/1/17,3,6.0,3.0,17.0,8.0,108.0,1
27,2/1/17,4,9.0,3.0,19.0,7.0,106.0,1
28,2/1/17,5,9.0,3.0,17.0,7.0,105.0,1
29,2/1/17,6,4.0,3.0,16.0,7.0,102.0,1
...,...,...,...,...,...,...,...,...
43770,30/12/2017,19,44.0,11.0,13.0,5.0,68.0,5
43771,30/12/2017,20,26.0,11.0,20.0,5.0,67.0,5
43772,30/12/2017,21,17.0,12.0,24.0,5.0,70.0,5
43773,30/12/2017,22,16.0,12.0,30.0,5.0,71.0,5
43774,30/12/2017,23,7.0,12.0,29.0,5.0,71.0,5
43775,30/12/2017,24,NaN,12.0,NaN,7.0,74.0,5
43776,31/12/2017,1,NaN,12.0,NaN,7.0,74.0,5
43777,31/12/2017,2,NaN,12.0,NaN,8.0,74.0,5
43778,31/12/2017,3,NaN,12.0,NaN,NaN,76.0,5
43779,31/12/2017,4,5.0,12.0,18.0,NaN,76.0,5
43780,31/12/2017,5,5.0,9.0,19.0,NaN,77.0,5
43781,31/12/2017,6,4.0,8.0,20.0,NaN,78.0,5
43782,31/12/2017,7,5.0,6.0,20.0,NaN,80.0,5
43783,31/12/2017,8,3.0,5.0,19.0,NaN,81.0,5
43784,31/12/2017,9,6.0,5.0,20.0,9.0,84.0,5
43785,31/12/2017,10,18.0,5.0,20.0,9.0,84.0,5
43786,31/12/2017,11,34.0,5.0,16.0,9.0,81.0,5
43787,31/12/2017,12,48.0,5.0,14.0,9.0,78.0,5
43788,31/12/2017,13,69.0,5.0,5.0,8.0,76.0,5
43789,31/12/2017,14,76.0,5.0,5.0,7.0,76.0,5
43790,31/12/2017,15,90.0,5.0,6.0,7.0,77.0,5
43791,31/12/2017,16,103.0,5.0,6.0,6.0,78.0,5
43792,31/12/2017,17,103.0,5.0,8.0,5.0,77.0,5
43793,31/12/2017,18,101.0,5.0,10.0,5.0,80.0,5
43794,31/12/2017,19,48.0,5.0,12.0,5.0,77.0,5
43795,31/12/2017,20,39.0,5.0,12.0,5.0,78.0,5
43796,31/12/2017,21,33.0,4.0,23.0,6.0,77.0,5
43797,31/12/2017,22,21.0,4.0,24.0,6.0,80.0,5
43798,31/12/2017,23,12.0,4.0,24.0,7.0,83.0,5
43799,31/12/2017,24,11.0,4.0,26.0,9.0,87.0,5

In [3]:
# Get the info from the dataset
airQuality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43800 entries, 0 to 43799
Data columns (total 8 columns):
Fecha                   43800 non-null object
Hora                    43800 non-null int64
Ozono                   42756 non-null float64
Dioxido de azufre       43782 non-null float64
Dioxido de nitrogeno    42741 non-null float64
Monoxido de carbono     41969 non-null float64
pm10                    42802 non-null float64
Zona                    43800 non-null int64
dtypes: float64(5), int64(2), object(1)
memory usage: 2.7+ MB

In [4]:
# Feature Engineering
# Checking impact of hour
airQuality[['Hora', 'Ozono']].groupby(['Hora'], as_index=False).mean()

    Hora      Ozono
0      1  16.321981
1      2  15.601974
2      3  15.033553
3      4  14.156495
4      5  12.858630
5      6  10.131507
6      7   7.658082
7      8   6.627945
8      9   9.212055
9     10  15.927671
10    11  25.070137
11    12  36.505205
12    13  51.462466
13    14  66.560307
14    15  76.296986
15    16  75.930411
16    17  67.737534
17    18  53.450959
18    19  38.406027
19    20  29.808767
20    21  23.874521
21    22  20.353425
22    23  18.143562
23    24  16.877540

In [5]:
# Filling empty Sulfur Dioxide rows with the median
so2Median = airQuality['Dioxido de azufre'].median()
airQuality['Dioxido de azufre'] = airQuality['Dioxido de azufre'].fillna(so2Median)
# Grouping in 4
airQuality['CategoricalSO2'] = pd.qcut(airQuality['Dioxido de azufre'], 4)
# Checking impact
airQuality[['CategoricalSO2', 'Ozono']].groupby(['CategoricalSO2'], as_index=False).mean()
# We can see that it does not have an impact as it Sulfur Dioxide is fairly uniform with respect of Ozone.
# Therefore, we may drop this feature.

  CategoricalSO2      Ozono
0   (0.999, 2.0]  29.732082
1     (2.0, 3.0]  32.455719
2     (3.0, 6.0]  32.271811
3    (6.0, 69.0]  29.208723

In [6]:
# Filling empty Nitrogen Dioxide rows with the median
no2Median = airQuality['Dioxido de nitrogeno'].median()
airQuality['Dioxido de nitrogeno'] = airQuality['Dioxido de nitrogeno'].fillna(no2Median)
# Grouping in 4
airQuality['CategoricalNO2'] = pd.qcut(airQuality['Dioxido de nitrogeno'], 4)
# Checking impact
airQuality[['CategoricalNO2', 'Ozono']].groupby(['CategoricalNO2'], as_index=False).mean()
# This feature does have some impact, we are going to keep this one.

   CategoricalNO2      Ozono
0  (-0.001, 10.0]  42.081998
1    (10.0, 15.0]  30.437596
2    (15.0, 20.0]  24.425985
3    (20.0, 62.0]  22.531719

In [7]:
# Filling empty Carbon Monoxide rows with the median
coMedian = airQuality['Monoxido de carbono'].median()
airQuality['Monoxido de carbono'] = airQuality['Monoxido de carbono'].fillna(coMedian)
# Grouping in 3
airQuality['CategoricalCO'] = pd.qcut(airQuality['Monoxido de carbono'], 4)
# Checking impact
airQuality[['CategoricalCO', 'Ozono']].groupby(['CategoricalCO'], as_index=False).mean()
# This feature has little changing impact, but may be important to keep it.

  CategoricalCO      Ozono
0  (0.999, 5.0]  25.139447
1    (5.0, 6.0]  26.846353
2    (6.0, 8.0]  35.235867
3   (8.0, 35.0]  38.132183

In [8]:
# Filling empty Nitrogen Dioxide rows with the median
pmMedian = airQuality['pm10'].median()
airQuality['pm10'] = airQuality['pm10'].fillna(pmMedian)
# Grouping in 3
airQuality['CategoricalPM'] = pd.qcut(airQuality['pm10'], 4)
# Checking impact
airQuality[['CategoricalPM', 'Ozono']].groupby(['CategoricalPM'], as_index=False).mean()
# It does have an impact on Ozone, we will keep it.

   CategoricalPM      Ozono
0  (7.999, 44.0]  23.993164
1   (44.0, 64.0]  31.909133
2   (64.0, 94.0]  33.968850
3  (94.0, 162.0]  32.640509

In [9]:
# Checking impact of Zone
airQuality[['Zona', 'Ozono']].groupby(['Zona'], as_index=False).mean()

   Zona      Ozono
0     1  27.599275
1     2  28.647059
2     3  28.330097
3     4  36.234304
4     5  31.818384

In [10]:
# Working dates: 24 measures by day
dayOfYear = np.full((43800, 1), 0)
number = 1
index = 0
for day in range(0,1825):
    for measure in range (0, 24):
        np.put(dayOfYear, index, number)
        index = index + 1
    number = number + 1
    if number == 366:
        number = 1
airQuality['DaysOfYear'] = dayOfYear
# Grouping by month (approx)
airQuality['CategoricalDays'] = pd.qcut(airQuality['DaysOfYear'], 12)
# Checking impact
airQuality[['CategoricalDays', 'Ozono']].groupby(['CategoricalDays'], as_index=False).mean()

   CategoricalDays      Ozono
0    (0.999, 31.0]  30.065021
1     (31.0, 61.0]  34.631669
2     (61.0, 92.0]  30.992306
3    (92.0, 122.0]  40.267236
4   (122.0, 153.0]  46.997257
5   (153.0, 183.0]  33.610556
6   (183.0, 213.0]  25.279943
7   (213.0, 244.0]  24.925377
8   (244.0, 274.0]  21.924765
9   (274.0, 305.0]  26.112742
10  (305.0, 335.0]  23.787948
11  (335.0, 365.0]  27.457550

In [11]:
# Filling Ozone's missing values
o3Median = airQuality['Ozono'].median()
airQuality['Ozono'] = airQuality['Ozono'].fillna(pmMedian)
# all filled and grouped!

In [12]:
# Mapping nitrogen dioxide
airQuality.loc[airQuality['Dioxido de nitrogeno'] <= 10.0, 'Dioxido de nitrogeno'] = 0
airQuality.loc[(airQuality['Dioxido de nitrogeno'] > 10.0) & (airQuality['Dioxido de nitrogeno'] <= 15.0), 'Dioxido de nitrogeno'] = 1
airQuality.loc[(airQuality['Dioxido de nitrogeno'] > 15.0) & (airQuality['Dioxido de nitrogeno'] <= 20.0), 'Dioxido de nitrogeno'] = 2
airQuality.loc[airQuality['Dioxido de nitrogeno'] > 20, 'Dioxido de nitrogeno'] = 3
airQuality['Dioxido de nitrogeno'] = airQuality['Dioxido de nitrogeno'].astype(int)

In [13]:
# Mapping Carbon Monoxide
airQuality.loc[airQuality['Monoxido de carbono'] <= 5, 'Monoxido de carbono'] = 0
airQuality.loc[(airQuality['Monoxido de carbono'] > 5) & (airQuality['Monoxido de carbono'] <= 6), 'Monoxido de carbono'] = 1
airQuality.loc[(airQuality['Monoxido de carbono'] > 6) & (airQuality['Monoxido de carbono'] <= 8), 'Monoxido de carbono'] = 2
airQuality.loc[airQuality['Monoxido de carbono'] > 8, 'Monoxido de carbono'] = 3
airQuality['Monoxido de carbono'] = airQuality['Monoxido de carbono'].astype(int)

In [14]:
# Mapping PM10
airQuality.loc[airQuality['pm10'] <= 44, 'pm10'] = 0
airQuality.loc[(airQuality['pm10'] > 44) & (airQuality['pm10'] <= 64), 'pm10'] = 1
airQuality.loc[(airQuality['pm10'] > 64) & (airQuality['pm10'] <= 94), 'pm10'] = 2
airQuality.loc[airQuality['pm10'] > 94, 'pm10'] = 3
airQuality['pm10'] = airQuality['pm10'].astype(int)

In [15]:
# Mapping days
airQuality.loc[airQuality['DaysOfYear'] <= 31, 'DaysOfYear'] = 0
airQuality.loc[(airQuality['DaysOfYear'] > 31) & (airQuality['DaysOfYear'] <= 61), 'DaysOfYear'] = 1
airQuality.loc[(airQuality['DaysOfYear'] > 61) & (airQuality['DaysOfYear'] <= 92), 'DaysOfYear'] = 2
airQuality.loc[(airQuality['DaysOfYear'] > 92) & (airQuality['DaysOfYear'] <= 122), 'DaysOfYear'] = 3
airQuality.loc[(airQuality['DaysOfYear'] > 122) & (airQuality['DaysOfYear'] <= 153), 'DaysOfYear'] = 4
airQuality.loc[(airQuality['DaysOfYear'] > 153) & (airQuality['DaysOfYear'] <= 183), 'DaysOfYear'] = 5
airQuality.loc[(airQuality['DaysOfYear'] > 183) & (airQuality['DaysOfYear'] <= 213), 'DaysOfYear'] = 6
airQuality.loc[(airQuality['DaysOfYear'] > 213) & (airQuality['DaysOfYear'] <= 244), 'DaysOfYear'] = 7
airQuality.loc[(airQuality['DaysOfYear'] > 244) & (airQuality['DaysOfYear'] <= 274), 'DaysOfYear'] = 8
airQuality.loc[(airQuality['DaysOfYear'] > 274) & (airQuality['DaysOfYear'] <= 305), 'DaysOfYear'] = 9
airQuality.loc[(airQuality['DaysOfYear'] > 305) & (airQuality['DaysOfYear'] <= 335), 'DaysOfYear'] = 10
airQuality.loc[airQuality['DaysOfYear'] > 335, 'DaysOfYear'] = 11
airQuality['DaysOfYear'] = airQuality['DaysOfYear'].astype(int)

In [16]:
dropFeat = ['Fecha', 'Dioxido de azufre', 'CategoricalSO2', 'CategoricalNO2', 'CategoricalCO', 'CategoricalPM', 'CategoricalDays']
airQuality = airQuality.drop(dropFeat, axis=1)

results = np.array(airQuality)

X = results[:, [0, 2, 3, 4, 5, 6]]
Y = results[:, [1]]

# Normalization
#Xnorm = X / np.linalg.norm(X)
#Ynorm = Y / np.linalg.norm(Y)

# Splitting data into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.25, random_state=73)

In [17]:
out_dimension = 1
nHidden = 3
nInputDimension = X_train.shape[1]

# Building the model and then running it
model = Sequential()
model.add(Dense(nHidden, input_dim = nInputDimension, activation = 'relu', kernel_initializer = glorot_normal(seed=0)))
model.add(Dense(out_dimension, activation = 'sigmoid', kernel_initializer = glorot_normal(seed=0)))

sgd = SGD(lr=0.05, decay=1e-6, momentum=0.5, nesterov=True) # optimizer

model.compile(loss='mean_squared_logarithmic_error', optimizer=sgd, metrics=['mae'])

# Last parameter (callbacks) is important for TensorBoard
train = model.fit(X_train, Y_train, epochs=100, callbacks=[tbCallBack])

# Evaluating model
score = model.evaluate(X_test, Y_test, batch_size=25)
score
# To see the model's plotting: tensorboard --logdir ./Graph

Epoch 1/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5862 - mean_absolute_error: 30.2717
Epoch 2/100
32850/32850 [==============================] - 1s 38us/step - loss: 6.5833 - mean_absolute_error: 30.2705 0s - loss: 6.5975 - mean_absolute_
Epoch 3/100
32850/32850 [==============================] - 1s 31us/step - loss: 6.5832 - mean_absolute_error: 30.2705
Epoch 4/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 5/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 6/100
32850/32850 [==============================] - 1s 31us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 7/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 8/100
32850/32850 [==============================] - 1s 39us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 9/100
32850/32850 [==============================] - 1s 31us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 10/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 11/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 12/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 13/100
32850/32850 [==============================] - 1s 31us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 14/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 15/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 16/100
32850/32850 [==============================] - 1s 37us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 17/100
32850/32850 [==============================] - 1s 43us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 18/100
32850/32850 [==============================] - 1s 38us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 19/100
32850/32850 [==============================] - 1s 41us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 20/100
32850/32850 [==============================] - 1s 37us/step - loss: 6.5831 - mean_absolute_error: 30.2704 0s - loss: 6.5731 - mean
Epoch 21/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 22/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 23/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 24/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 25/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 26/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 27/100
32850/32850 [==============================] - 1s 43us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 28/100
32850/32850 [==============================] - 1s 45us/step - loss: 6.5831 - mean_absolute_error: 30.2704 1s
Epoch 29/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 30/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 31/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 32/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 33/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 34/100
32850/32850 [==============================] - 1s 42us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 35/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 36/100
32850/32850 [==============================] - 1s 42us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 37/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 38/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 39/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 40/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 41/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 42/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 43/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 44/100
32850/32850 [==============================] - 1s 38us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 45/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 46/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 47/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 48/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 49/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 50/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 51/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 52/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 53/100
32850/32850 [==============================] - 1s 44us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 54/100
32850/32850 [==============================] - 1s 46us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 55/100
32850/32850 [==============================] - 2s 46us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 56/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 57/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 58/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 59/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 60/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 61/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 62/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 63/100
32850/32850 [==============================] - 2s 47us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 64/100
32850/32850 [==============================] - 1s 39us/step - loss: 6.5831 - mean_absolute_error: 30.2704 0s - loss: 6.5855 - mean_absolute_error: 3
Epoch 65/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 66/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704 0s - loss: 6.593
Epoch 67/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 68/100

32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 69/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 70/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 71/100
32850/32850 [==============================] - 1s 32us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 72/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 73/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 74/100
32850/32850 [==============================] - 1s 39us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 75/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 76/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 77/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 78/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 79/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 80/100
32850/32850 [==============================] - 1s 33us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 81/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 82/100
32850/32850 [==============================] - 1s 37us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 83/100
32850/32850 [==============================] - 1s 38us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 84/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 85/100
32850/32850 [==============================] - 1s 34us/step - loss: 6.5831 - mean_absolute_error: 30.2704 0s - loss: 6.5859 - mean_absolute_error: 30.29
Epoch 86/100
32850/32850 [==============================] - 1s 39us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 87/100
32850/32850 [==============================] - 1s 35us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 88/100
32850/32850 [==============================] - 1s 42us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 89/100
32850/32850 [==============================] - 1s 45us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 90/100
32850/32850 [==============================] - 2s 51us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 91/100
32850/32850 [==============================] - 2s 48us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 92/100
32850/32850 [==============================] - 1s 36us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 93/100
32850/32850 [==============================] - 1s 38us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 94/100
32850/32850 [==============================] - 1s 38us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 95/100
32850/32850 [==============================] - 1s 42us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 96/100
32850/32850 [==============================] - 1s 44us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 97/100
32850/32850 [==============================] - 1s 39us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 98/100
32850/32850 [==============================] - 1s 39us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 99/100
32850/32850 [==============================] - 2s 48us/step - loss: 6.5831 - mean_absolute_error: 30.2704
Epoch 100/100
32850/32850 [==============================] - 1s 42us/step - loss: 6.5831 - mean_absolute_error: 30.2704 0s - loss: 6.6030 -
10950/10950 [==============================] - 0s 20us/step

[6.620639396040407, 30.484931810805787]

In [18]:
# Taken from https://machinelearningmastery.com/save-load-keras-deep-learning-models/
# serialize model to JSON
model_json = model.to_json()
with open("model.json", "w") as json_file:
    json_file.write(model_json)

In [19]:
# serialize weights to HDF5
model.save_weights("model.h5")
print("Saved model to disk")

Saved model to disk

In [20]:
# Testing
# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)

In [21]:
# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")

Loaded model from disk

In [22]:
# evaluate loaded model on test data
sgd = SGD(lr=0.05, decay=1e-6, momentum=0.5, nesterov=True) # optimizer
loaded_model.compile(loss='mean_squared_logarithmic_error', optimizer=sgd, metrics=['mae'])
loaded_model._make_predict_function()
score = loaded_model.evaluate(X_test, Y_test, batch_size=25)
score

10950/10950 [==============================] - 0s 26us/step

[6.620639396040407, 30.484931810805787]

In [24]:
# ---- INPUTS --------
# Given hour, nitrogen dioxide, 
hour = 20
nitrogenD = 17
carbonM = 50
pm10M =  150
zone = 1 # noroeste: 1, noreste:2, centro: 3, suroeste:4, sureste:5
month = 2 # from 0 to 11

# Categorizing
if nitrogenD <= 10:
    nitrogenD = 0
elif nitrogenD <= 15:
    nitrogenD = 1
elif nitrogenD <= 20:
    nitrogenD = 2
else:
    nitrogenD = 3

if carbonM <= 5:
    carbonM = 0
elif carbonM <= 6:
    carbonM = 1
elif carbonM <= 8:
    carbonM = 2
else:
    carbonM = 3

if pm10M <= 44:
    pm10M = 0
elif pm10M <= 64:
    pm10M = 1
elif pm10M <= 94:
    pm10M = 2
else:
    pm10M = 3


Xnew = np.array([[hour, nitrogenD, carbonM, pm10M, zone, month]])
# make a prediction
ynew = model.predict(Xnew)
# Denormalization
#ynew = ynew * (np.max(Y_train) - np.min(Y_train)) + np.min(Y_train)
#ynew = ynew * np.linalg.norm(Y)
# show the inputs and predicted outputs
print("X=%s, Predicted=%s" % (Xnew[0], ynew[0]))

X=[20  2  3  3  1  2], Predicted=[1.]